@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

#navbar{
    background-color: rgb(240, 240, 240);
    margin-bottom: 2rem;
}
#navbar-header{
    font-family: 'Libre Baskerville', serif;
    color: rgb(72, 0, 124);
    padding: 2rem; 
    margin-bottom: 0;
}

#todo-input{
    width: 40%;
}

#empty-list{
    color: gray;
}

.card{
    margin: 0 auto;
    float: none;
    width: 60%;
}